<div id="<%= dom_id circle_blog %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= circle_blog.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= circle_blog.content %>
  </p>

 
</div>
