<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing circle blog</h1>

  <%= render "form", circle_blog: @circle_blog %>

  <%= link_to "Show this circle blog", @circle_blog, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to circle blogs", circle_blogs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
