
  
    <a href="circles/<%= circle.id %>" >
    <hr class="mt-6">
  <div class="h-80 border border-black mt-3">
  </div>


  <p class="my-2">
    <span class="rounded-xl px-2 text-sm border border-black">スポーツ</span>
  </p>

  <p class="my-2 font-bold text-xl hover:text-blue-500 duration-300">
    <%= circle.content %>
  </p>
  <p class="my-2 ">
    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"></strong>
    <%= circle.name %>
  </p>

  
    
  </a>
